{% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{message.tags }} alert-dismissible fade show" role ="alert" style= "text-align : center;background-color: aqua;">
                        <strong>
                          Message:
                        </strong> {{ message }}
                        <button type ="button" class="close" data-dismiss="alert" aria-label="close">
                        <span  aria-hidden="true"> &times;</span>
                        </button>
                      </div>
                    {% endfor %}
                  {% endif %}

<form action="{% url 'accounts' %}" method="POST">
    {% csrf_token %}
    <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
            Full Name
          </label>
          <input type="text" name="name" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder = "Full Name" required>
        </div>
      </div>

      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
            Rgistration Number
          </label>
          <input type="text" name="Registration_number" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder = "Registration Number" required>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
            Amount
          </label>
          <input type="text" name="Amount_Paid" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder = "Amount" required>
        </div>
      </div>

      <button type="submit"> Save Studeht</button>
</form>