      {% load static %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<link rel="stylesheet" href="{% static 'doctor.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      
      
      
      <nav class="main-menu">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Dashboard
                        </span>
                    </a>
                  
                </li>
                
                    
                </li>
               
                <li class="has-subnav"  id="book">
                    <a href="javascript:void(0)">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Bookings
                        </span>
                    </a>
                  </li>
                
                <li id="scheduling_button">
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Schedule a Journey
                        </span>
                    </a>
                </li>
                
              
                
            </ul>

            <ul class="logout">
                <li>
                   <a href="javascript:void(0)">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
      </nav>